.VPHome {
  &::before {
    background-image: url(../assets/bg.webp);
    background-size: cover;
  }

  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 120%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Moon Stars Kai';
  font-weight: '700';
  cursor: url('./assets/default.cur'), auto;
  word-break: break-all;
  -webkit-hyphens: auto; /* 针对 Safari 和 Chrome */
  -moz-hyphens: auto; /* 针对 Firefox */
  hyphens: auto; /* 标准属性 */
}

strong {
  text-shadow: 0.8px 0;
}

.MathJax {
  overflow-y: hidden;
}

table {
  white-space: nowrap;
}

code {
  font-family: inherit;
}

/* 默认适用于大屏（桌面）端 */
.works {
  width: 900px;
}

/* 手机端（最大宽度 382px）适配 */
@media (max-width: 400px) {
  .works {
    width: 100%;
  }
}

.vp-doc .el-tag {
  margin-top: -5px;
  margin-left: 4px;
  padding: 6px;
}
